*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2d6a4f;
    /* background-color: #f4f6f4; */
    /* background-image: url(../bg2.jpg); */
}

body {
    background-color: white;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px 0px 0;
}

#navitems {
    display: flex;
    background-color: black;
    gap: 20px;
    
}

#navitems a{
     padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: #009578;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.hero {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.feature {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    /* align-items: center; */
}

h1{
    color: black;
}

h3{
    padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: #009578;
  color: white;
  cursor: pointer;
}

h2{
    color: black;
    font-weight: bold;
}

button{
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  background-color: #009578;
  color: white;
  cursor: pointer;

}

.Howitworks {
    padding: 50px 50px 50px 50px;
    gap: 50px;
    /* text-align: center; */

}

.Howitworks ol{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
}

.email{
    padding: 50px 50px 50px 50px;
    display: flex;
    gap: 50px;
    text-align: center;
    gap: 50px;
    flex-direction: column;
}

.email input{
    margin:  50px 0 0 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 50px;
    text-decoration: underline;
}